.git
.idea
.agents
.codex
.claude
.env
.env.*
data
**/target
**/test-output
**/bin
**/*.log
**/*.iml
**/*.keystore
**/forge.profile.properties
**/__pycache__
forge-gui/res/pics*
forge-gui/res/decks
forge-gui/res/layouts
forge-gui/tools
forge-gui-ios/robovm.properties
docs
