COMPOSE_PROJECT_NAME=forge-local
FORGE_DATA_DIR=./data
FORGE_CACHE_SOURCE=forge-cache-linux
FORGE_PORT=6080
SCREEN_RESOLUTION=1600x900
VNC_USE_XDAMAGE=true
JAVA_MIN_HEAP=512m
JAVA_MAX_HEAP=4g
TZ=Europe/Paris
